<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
    <div
      *ngIf="userEmail != null || userEmail != undefined; else emptyUser"
      class="card"
    >
      <div class="card-body">
        <div style="background: rgb(197, 253, 67)" class="card-header">
          <div class="text-center">
            <h2>Agregar Operación</h2>
          </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="addOperation($event)">
          <div class="form-group mt-3 mb-3">
            <div class="text-center">
              <input
                type="text"
                class="form-control"
                placeholder="Concepto"
                formControlName="concept"
                maxlength="51"
              />
              <!-- validations -->
              <div *ngIf="conceptField.errors && conceptField.dirty">
                <span *ngIf="conceptField.hasError('maxlength')"
                  ><small class="text-danger">hasta 50 caracteres</small></span
                >
                <span *ngIf="conceptField.hasError('required')"
                  ><small class="text-danger"
                    >Este campo es obligatorio</small
                  ></span
                >
              </div>
            </div>
          </div>

          <div class="form-group mb-3">
            <div class="text-center">
              <input
                type="text"
                class="form-control"
                placeholder="Monto"
                formControlName="amount"
                maxlength="11"
              />
              <!-- validations -->
              <div *ngIf="amountField.errors && amountField.dirty">
                <span *ngIf="amountField.hasError('required')"
                  ><small class="text-danger"
                    >Este campo es obligatorio</small
                  ></span
                >
                <span *ngIf="amountField.hasError('pattern')"
                  ><small class="text-danger">Solo numeros!</small></span
                >
                <span *ngIf="amountField.hasError('maxlength')"
                  ><small class="text-danger"
                    >Ingrese un monto mas chico</small
                  ></span
                >
              </div>
            </div>
          </div>

          <div class="form-group mb-3">
            <div class="text-center">
              <label class="mr-3">Tipo:</label>
              <mat-form-field>
                <mat-select
                  formControlName="type"
                  (selectionChange)="captureType($event)"
                >
                  <mat-option *ngFor="let type of types" [value]="type">
                    {{ type }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group mb-3">
            <div class="text-center">
              <label class="mr-3">Categoria:</label>
              <mat-form-field>
                <mat-select
                  formControlName="category"
                  (selectionChange)="captureCategory($event)"
                >
                  <mat-option
                    *ngFor="let category of categories"
                    [value]="category.id"
                  >
                    {{ category.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group mb-3">
            <div class="text-center">
              <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <!-- validations -->
              <div *ngIf="dateField.errors && dateField.dirty">
                <span *ngIf="dateField.hasError('required')"
                  ><small class="text-danger"
                    >Este campo es obligatorio</small
                  ></span
                >
                <!-- <span *ngIf="fechaField.hasError('pattern')"><small class="text-danger">Solo numeros!</small></span> -->
              </div>
            </div>
          </div>

          <div class="form-group mb-3">
            <button
              type="submit"
              class="btn btn-primary btn-block"
              [disabled]="form.invalid"
            >
              Agregar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-8 col-lg-8">
    <div class="box-filter">
      <div class="d-flex align-items-center">
        <div class="mr-3">
          <mat-checkbox
            [checked]="checkbox1"
            (change)="setStateSelectOp2($event, 'type')"
            [disabled]="disabled1"
          >
            Listar por tipo:
          </mat-checkbox>
        </div>

        <div *ngIf="checkbox1">
          <mat-form-field>
            <mat-select
              [value]="types[0]"
              [disabled]="disabled1"
              (selectionChange)="captureOperation2($event)"
            >
              <mat-option
                *ngFor="let type of types"
                [value]="type"
                [disabled]="disabled1"
              >
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <div class="mr-3">
          <mat-checkbox
            [checked]="checkbox2"
            (change)="setStateSelectOp2($event, 'category')"
            [disabled]="disabled2"
          >
            Listar por categoria:
          </mat-checkbox>
        </div>

        <div *ngIf="checkbox2">
          <mat-form-field>
            <mat-select
              [disabled]="disabled2"
              (selectionChange)="captureCategory2($event)"
            >
              <mat-option
                *ngFor="let cat of categories"
                [value]="cat.id"
                [disabled]="disabled2"
              >
                {{ cat.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped mt-1">
        <thead>
          <tr class="text-center">
            <th class="text-center">Fecha</th>
            <th class="text-center">Concepto</th>
            <th class="text-center">Monto</th>
            <th class="text-center">Categoria</th>
            <td></td>
          </tr>
        </thead>
        <tbody *ngIf="operationsList.length > 0; else notResult">
          <tr *ngFor="let op of operationsList" class="text-center">
            <td class="text-center">{{ op.date | date: "dd/MM/yyyy" }}</td>
            <td class="text-center">{{ op.concept }}</td>
            <td class="text-center">${{ op.amount }}</td>
            <td class="text-center">{{ op.category }}</td>
            <td>
              <button class="btn btn-primary btn-sm mr-1">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger btn-sm mr-1" (click)="deleteOperation(op.id_operation)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #emptyUser>
  <h3 class="text-center text-danger">
    Debe estar logeado paera realizar la operacion.
  </h3>
</ng-template>

<ng-template #notResult>
  <div style="width: 100%">
    <p><small class="text-danger">Sin resultados.</small></p>
  </div>
</ng-template>
